.info
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
}

.school
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
}

.awards-etc
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
}

ol.mcnair-list
{
	list-style-type: square;
}

.work-experience
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
}

h1
{
	color: #064055;
	font-weight: bolder;
	text-decoration: underline;
}
h2
{
	color: #064055;
	font-weight: bolder;
	text-decoration: underline;
}