body
{
	background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSYe2O3qNGqdVkdcxT27VaZayfJwKMUoBBZAGkjL_NeY1RPS0EyKQ");
}

.info
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
	max-width: 25cm;
	margin-right: auto;
	margin-left: 4cm;
}

.school
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
	max-width:25cm;
	margin-right: auto;
	margin-left: 4cm;
}

ol.school-list
{
	list-style-type: square;
	max-width: 16cm;
}

.awards-etc
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
	max-width:25cm;
	margin-right:auto;
	margin-left: 4cm;
}

ol.mcnair-list
{
	list-style-type: square;
	max-width: 16cm;
}

ol.deans-list-list
{
	list-style-type: square;
	max-width: 16cm;
}

ol.awards-list
{
	list-style-type: square;
	max-width: 16cm;
}

.work-experience
{
	background-color: #a2c9e4;
	border: solid;
	border-width: 10px;
	border-color: #0181c8;
	padding-left: 2.5cm;
	max-width: 25cm;
	margin-right: auto;
	margin-left: 4cm;
}

ol.music-librarian-list
{
	list-style-type: square;
	max-width: 16cm;
}

ol.server-list
{
	list-style-type: square;
	max-width: 16cm;
}

ol.summer-list
{
	list-style-type: square;
	max-width: 16cm;
}

h1
{
	color: #064055;
	font-weight: bolder;
	text-decoration: underline;
}
h2
{
	color: #064055;
	font-weight: bolder;
	text-decoration: underline;
}